<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Clientes</title>
</head>
<body>
    <div class="container">
        <h1>Lista de Clientes:</h1>

        <div class="table">
            <div class="table-header">
                <span>Nome</span>
                <span>Email</span>
            </div>

            {% for usuario in usuarios %}
            <div class="table-row">
                <span>{{ usuario[1] }}</span>
                <span>{{ usuario[2] }}</span>
            </div>
            {% endfor %}
        </div>
        
        <a href="/" class="link-btn">Voltar</a>
    </div>
</body>
</html>